<h1>Hello</h1>
<%= link_to 'My dockets', controller: 'dockets' %>
<%= link_to 'New docket', new_docket_path %>
<%= link_to 'My plans', controller: 'plans' %>
<%= link_to 'New plan', new_plan_path %>

