// Place all the styles related to the Dockets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#edit-docket {
  justify-content: space-between;
  margin: 1em 0;
}

td.other {
  background-color: #ddd;
}
