<h1>All plans</h1>

<table>
  <tr>
    <th>Title</th>
    <th colspan="3"></th>
  </tr>
  
  <% @plans.each do |plan| %>
    <tr>
      <td><%= plan.title %></td>
      <td><%= link_to 'Show', plan_path(plan) %></td>
      <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
      <td><%= link_to 'Destroy', 
                      plan_path(plan), 
                      method: :delete, 
                      data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>

