<h1>Plan: <%= @plan.title %></h1>

<h2>Events</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start</th>
      <th>End</th>
      <th>Lead</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @plan.events %>
    
    <tr>
      <td colspan="5">
        <p>Add an event:</p>
        <%= render 'events/form'%>
      </td>
    </tr>
  </tbody>
</table>
